<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Car Inventory System
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav pull-right">
                    <li ng-class="{active: $route.current.activetab == 'manufacturer'}"><a href = "#/">Manufacturer</a></li>
                    <li ng-class="{active: $route.current.activetab == 'models'}"><a href = "#/models">Models</a></li>
                    <li ng-class="{active: $route.current.activetab == 'display'}"><a href = "#/display">Display</a></li>
                </ul>    
            </div>
        </div>
    </div> <!-- /container -->
</header><!-- /header -->